*
!target/*-runner
!target/*-runner.jar
!target/lib/*
!target/quarkus-app/*
target/
!target/
.mvn/
mvnw
mvnw.cmd
.git
.gitignore
README.md
Dockerfile
.dockerignore
*.iml
.idea/
.vscode/
.DS_Store
node_modules/